# Dictionaries

    A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly
    brackets, and they have keys and values.

In [20]:
student={
    'ID':1234,
    'name':'huzaifa',
    'year':2016
}

## Accessing Items

In [2]:
student['ID']

1234

## Change Values

In [4]:
student['ID']=6541
student

{'ID': 6541, 'name': 'huzaifa', 'year': 2016}

## Check if Key Exist

In [8]:
'nme' in student

False

## Dictionary Length

In [9]:
len(student)

3

## Adding Items

In [10]:
student['semester']='2nd'
student

{'ID': 6541, 'name': 'huzaifa', 'year': 2016, 'semester': '2nd'}

## Removing Items

### pop()

In [ ]:
student.pop('semester')
student

### popitem()

In [15]:
student.popitem()
student

{'ID': 1234, 'name': 'huzaifa'}

### del

In [17]:
del student
student

NameError: name 'student' is not defined

### clear()

In [19]:
student.clear()
student

{}

## Copy a Dictionary

In [21]:
std1=student.copy()
std1

{'ID': 1234, 'name': 'huzaifa', 'year': 2016}

# Nested Dictionaries

In [22]:
family={
    'child1':{
        'name':'ali',
        'age':10
    },
    
    'child2':{
        'name':'ahmed',
        'age':15
    },
    
    'child3':{
        'name':'huzaifa',
        'age':20
    }
}

In [24]:
family

{'child1': {'name': 'ali', 'age': 10},
 'child2': {'name': 'ahmed', 'age': 15},
 'child3': {'name': 'huzaifa', 'age': 20}}